// Variables etc
$header-font: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$body-font: "Bree Serif", sans-serif;

$primary-color: #fbf40e;
$secondary-color: #0ec7fb;
$tertiary-color: #fb0ec7;

$section-padding: 5%;