code {
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
}

h1, h2, h3, h4, h5, h6 {
	color: $primary-color;
}

p {
	line-height: 1.5em;
	letter-spacing: .05em;
	font-family: $body-font;
}

p img {
	padding: 5% 0;
}

p+h2, {
	margin-top: 2em;
}

body {
	background-color: $secondary-color;
}

a, a:visited {
	color: #fff;
}