body {
	background-color: $secondary-color;
}

h1, h2, h3, h4, h5, h6 {
	color: $primary-color;
}

p {
	line-height: 1.5em;
	letter-spacing: .05em;
	font-family: $body-font;
}

p+h2 {
	margin-top: 2em;
}

img {
	margin: 5% 0;
}

a {
	color: #fff;
}

pre {
	white-space: pre-wrap;
	word-wrap: break-word;
	margin: 0;
}