<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta property="og:title" content="The NICE CSS Manifesto & Self Realization Workbook">
    <meta property="og:description" content="A Reflection on Ways of Writing CSS: ITCSS, OOCSS, SMACSS, BEM, Atomic CSS and So Forth.">
    <meta property="og:image" content="https://js108.github.io/nicecss/assets/meta.png">
    <meta property="og:url" content="https://js108.github.io/nicecss/index.html">
    <meta name="twitter:card" content="summary_large_image">

    <link rel="icon" type="image/png" sizes="32x32" href="{{ site.baseurl }}/assets/favicon-32x32.png">
	<link rel="icon" type="image/png" sizes="96x96" href="{{ site.baseurl }}/assets/favicon-96x96.png">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ site.baseurl }}/assets/favicon-16x16.png">

    <link type="text/css" rel="stylesheet" href="grid.css" />

	<title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
	<meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}">
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
	<link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">
	<link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">

	<link href="https://fonts.googleapis.com/css?family=Bree+Serif" rel="stylesheet">
	
</head>

<body>
	<div class="layout-wrap">
		<header class="content content__title-text">
			<h1>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</h1>
		</header>
	</div>

	<div class="section-divider">
		<div class="layout-wrap">
			<div class="content content__body-text">

				{% for post in site.categories.home-1 %}
				    {{ post.content  }}
				{% endfor %}

			</div>
		</div>
	</div>

	<div class="section-divider">
		<div class="layout-wrap">
			<div class="content content__body-text">

				{% for post in site.categories.home-2 %}
				    {{ post.content  }}
				{% endfor %}

			</div>
		</div>
	</div>
</body>